<div class="card">
  <div class="card-header card-header-warning">
    <span class="card-title" style="font-size: 30px">Tiendas Online</span>
    <button style="margin-left: 10px;"class="btn btn-danger pull-right" routerLink="/create-tienda">
      Agregar
    </button>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Estado</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let tienda of tiendas">
          <td>{{ tienda.nombre }}</td>
          <td>{{ tienda.email }}</td>
          <td>{{ tienda.telefono }}</td>
          <td>{{ tienda.estado }}</td>
          <td>
            <i
              class="fas fa-edit fa-lg text-info"
              style="padding-right: 5px; cursor: pointer;;margin-right: 10px;"
              [routerLink]="['/edit-tienda', tienda.id]"
            ></i>
            <i
              (click)="eliminarTienda(tienda.id)"
              class="fas fa-trash-alt fa-lg text-danger"
              style="cursor: pointer;margin-right: 20px;"
            ></i>
            <i class="fas fa-power-off text-danger" (click) = "desactivarTienda(tienda.id)" style="padding-right: 5px; cursor: pointer;margin-right:5px"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card">
  <div class="card-header card-header-warning">
    <span class="card-title" style="font-size: 30px">Tiendas Offline</span>
    
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Estado</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let tienda of tiendas2">
          <td>{{ tienda.nombre }}</td>
          <td>{{ tienda.email }}</td>
          <td>{{ tienda.telefono }}</td>
          <td>{{ tienda.estado }}</td>
          <td>
            <i
              class="fas fa-edit fa-lg text-info"
              style="padding-right: 5px; cursor: pointer;margin-right: 10px;"
              [routerLink]="['/edit-tienda', tienda.id]"
            ></i>
            <i
              (click)="eliminarTienda(tienda.id)"
              class="fas fa-trash-alt fa-lg text-danger"
              style="cursor: pointer;margin-right:5px;"
            ></i>
            <i class="fas fa-power-off text-success" (click) = "activarTienda(tienda.id)" style="padding-right: 5px; cursor: pointer;margin-left: 20px"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
