<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title ">Ordenes en curso</h4>
                      <p class="card-category"> Ordenes a realizar</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <button class="btn btn-primary btn-lg float-right mr-5" routerLink = "/create-order">Añadir</button>
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Usuario
                                  </th>
                                  <th>
                                      Productos
                                  </th>
                                  <th>
                                      Precio
                                  </th>
                                  <th>
                                      Estado
                                  </th>
                                  <th></th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let order of ordenes">
                                      <td>
                                          {{ order.id }}
                                      </td>
                                      <td>
                                          {{ order.usuario }}
                                      </td>
                                      <td>
                                          0
                                      </td>
                                      <td>
                                          {{ order.precio }}
                                      </td>
                                      <td>
                                          {{ order.estado }}
                                      </td>
                                      <td>
                                          <i style="margin-right: 20px;"(click) = "entregarOrden(order.id)"class="fas fa-check fa-lg text-success mr-3"></i>
                                          <i (click) = "cancelarOrden(order.id)" class="fas fa-times fa-lg text-danger"></i>
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-success">
                      <h4 class="card-title mt-0"> Ventas Realizas </h4>
                      <p class="card-category"> Ordenes entregadas</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Usuario
                                  </th>
                                  <th>
                                      Costo Final
                                  </th>
                                  <th>
                                      Ver detalles...
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let order of ordenes2">
                                      <td>
                                        {{ order.id }}
                                      </td>
                                      <td>
                                        {{ order.usuario }}
                                      </td>
                                      <td>
                                        {{ order.precioFinal }}
                                      </td>
                                      <td>
                                          <a class="nav-link" [routerLink] = "['/order-info']"> {{ order.productos.length }} productos...</a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>