<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title ">Domiciliarios Disponibles</h4>
                     
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <button class="btn btn-primary btn-lg float-right mr-5" routerLink = "/create-domiciliarios">Añadir</button>
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nombre
                                  </th>
                                  <th>
                                      Cédula
                                  </th>
                                  <th>
                                      Teléfono
                                  </th>
                                  <th>
                                      Estado
                                  </th>
                                  <th></th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let domiciliario of domiciliarios">
                                      <td>
                                          {{ domiciliario.id }}
                                      </td>
                                      <td>
                                          {{ domiciliario.nombre}}
                                      </td>
                                      <td>
                                        {{ domiciliario.cedula}}
                                      </td>
                                      <td>
                                        {{ domiciliario.telefono}}
                                      </td>
                                      <td>
                                        {{ domiciliario.estado}}
                                      </td>

                                      <td>
                                        <i  style="margin-right: 20px;" (click) = "cambiarEstadoDomiciliario(domiciliario.id)" class="fas fa-check fa-lg text-success mr-3"></i>
                                        <i (click)= "eliminarDomiciliario(domiciliario.id)" class="fas fa-times fa-lg text-danger"></i>
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-success">
                      <h4 class="card-title mt-0"> Domiciliarios Ocupados </h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Cédula
                                </th>
                                <th>
                                    Teléfono
                                </th>
                                <th>
                                    Estado
                                </th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let domiciliario of domiciliarios2">
                                    <td>
                                        {{ domiciliario.id }}
                                    </td>
                                    <td>
                                        {{ domiciliario.nombre}}
                                    </td>
                                    <td>
                                      {{ domiciliario.cedula}}
                                    </td>
                                    <td>
                                      {{ domiciliario.telefono}}
                                    </td>
                                    <td>
                                      {{ domiciliario.estado}}
                                    </td>

                                    <td>
                                      <i  style="margin-right: 20px;" (click) = "activarEstadoDomiciliario(domiciliario.id)" class="fas fa-check fa-lg text-success mr-3"></i>
                                      <i (click)= "eliminarDomiciliario(domiciliario.id)" class="fas fa-times fa-lg text-danger"></i>
                                  </td>
                                </tr>
                            </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
