<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Informacion final</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Usuario
                                    </th>
                                    <th>
                                        Productos
                                    </th>
                                    <th>
                                        Precio Final
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <td>
                                        {{ id }}
                                    </td>
                                    <td>
                                        {{ usuario }}
                                    </td>
                                    <td>
                                        {{ productos.length }}
                                    </td>
                                    <td>
                                        {{ precioFinal }}
                                    </td>
                                    <td>
                                        {{ estado }}
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button type= "text" routerLink = "/table-list">Regresar</button>
                </div>
            </div>
        </div>
    </div>
  </div>
